* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-care: 'Cera Pro',
sans-serif;
$font-color: #555;
$bg-accent: #F5ECE3;
$bg-footer: #EEE4DA;
body {
    font-family: $font-care;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bg-accent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #333;
    }
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1300px;
    padding: 0px 15px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/header/header.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    // object-fit: cover;
    padding: 50px 0px 0px 0px;
    min-height: 900px;
    &-top {
        padding: 0px 0px 55px 0px;
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-menu {
            &__list {
                display: flex;
                list-style-type: none;
                &-item {
                    margin: 0px 47px 0px 0px;
                    &:last-child {
                        margin: 0px 0px 0px 0px;
                    }
                }
            }
            &__link {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                text-decoration: none;
                letter-spacing: -0.02em;
                color: #fff;
                transition: all 0.3s ease;
                &:hover {
                    text-shadow: 0px 0px 5px #fff;
                    transition: all 0.3s ease;
                }
            }
        }
        &-tools {
            display: flex;
            align-items: center;
            &__contacts {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: -0.02em;
                text-decoration: none;
                color: #fff;
                margin: 0px 47px 0px 0px;
                transition: all 0.3s ease;
                &:hover {
                    text-shadow: 0px 0px 5px #fff;
                    transition: all 0.3s ease;
                }
            }
            &__menu-list {
                display: flex;
                align-items: center;
                list-style-type: none;
            }
            &__menu-item {
                margin: 0px 25px 0px 0px;
                &:last-child {
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }
    &-carousel {
        &__item {
            padding: 297px 0px 361px 0px;
        }
        &__title {
            max-width: 430px;
            margin: 0 auto;
            font-size: 48px;
            color: #fff;
            font-weight: 400;
            line-height: 57px;
            letter-spacing: -0.04em;
            padding-bottom: 5px;
            border-bottom: 2px solid #fff;
        }
    }
    &-carousel-row {
        text-align: center;
        position: relative;
        & .slick-prev {
            cursor: pointer;
            z-index: 1;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            font-size: 0;
            border-radius: 60px;
            background: rgba(136, 136, 136, 0.3);
            background-image: url(../img/header/carousel/left-arrow.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 18px;
            height: 14px;
            // background: rgba(136, 136, 136, 0.3);    
            border: none;
            padding: 16px 23px;
        }
        & .slick-next {
            cursor: pointer;
            z-index: 1;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
            font-size: 0;
            border-radius: 60px;
            background: rgba(136, 136, 136, 0.3);
            background-image: url(../img/header/carousel/right-arrow.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 18px;
            height: 14px;
            // background: rgba(136, 136, 136, 0.3);
            border: none;
            padding: 16px 23px;
        }
        & .slick-dots {
            display: flex;
            justify-content: center;
            list-style-type: none;
            li {
                margin: 0px 8px 0px 0px;
                &:last-child {
                    margin: 0px 0px 0px 0px;
                }
                &.slick-active button {
                    background-color: #fff;
                    width: 20px;
                    border-radius: 50px;
                }
            }
            button {
                font-size: 0;
                border: none;
                background-color: rgba( #fff, 0.5);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: all 0.3s ease;
                cursor: pointer;
            }
        }
    }
    &-catalog {
        background-color: $bg-accent;
        background-image: none;
        z-index: 10;
    }
    &-menu {
        &-burger {
            display: none;
        }
    }
}

.main {
    background-color: $bg-accent;
    padding: 70px 0px 70px 0px;
    &-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-gap: 30px 20px;
        &__item {
            text-decoration: none;
            padding: 0px 25px 20px 25px;
            background-color: $bg-footer;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.5s ease;
            &:hover {
                transition: all 0.5s ease;
                box-shadow: 0px 0px 10px $font-color;
            }
            &-product {
                &-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &-name {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    color: $font-color;
                    letter-spacing: 0.02em;
                    &-sale {
                        font-size: 48px;
                        font-weight: 400;
                        line-height: 57px;
                        letter-spacing: -0.03em;
                        color: $font-color;
                    }
                }
                &-price {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    color: $font-color;
                }
            }
            &-sale {
                border-radius: 6px;
                position: relative;
                transition: all 0.5s ease;
                &:hover {
                    transition: all 0.5s ease;
                    box-shadow: 0px 0px 10px $font-color;
                }
            }
            &-cover {
                &-sale {
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
            &-nav {
                position: absolute;
                bottom: 23px;
                left: 30px;
            }
        }
    }
}

.product-info {
    background-color: $bg-accent;
    &-row {
        display: flex;
        justify-content: center;
    }
    &__img {
        border-radius: 6px;
    }
    &__description {
        max-width: 720px;
        padding: 200px 144px 200px 144px;
    }
    &__logo {
        padding: 0px 0px 67px 0px;
    }
    &__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        color: $font-color;
        margin: 0px 0px 34px 0px;
        letter-spacing: -0.03em;
    }
    &__text {
        font-size: 18px;
        line-height: 32px;
        color: $font-color;
        margin: 0px 0px 44px 0px;
    }
    &__author {
        font-size: 24px;
        font-weight: 400;
        line-height: 31px;
        color: $font-color;
        margin: 0px 0px 4px 0px;
        letter-spacing: -0.02em;
    }
    &__founder {
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: -0.04em;
    }
}

.boltaeva {
    padding: 137px 0px 127px 0px;
    background-color: $bg-accent;
    &__box-info {
        display: flex;
        align-items: flex-end;
        margin: 0px 0px 97px 0px;
    }
    &__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 62px;
        color: $font-color;
        max-width: 600px;
    }
    &__link {
        cursor: pointer;
        margin-left: auto;
        background-color: $bg-footer;
        line-height: 16px;
        padding: 28px 99px 28px 99px;
        position: relative;
        border-radius: 66px;
        transition: all 0.3s ease;
        color: $font-color;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/instagram-icon.svg);
            display: block;
            width: 16px;
            height: 16px;
            top: 50%;
            left: 80px;
            transform: translate(0, -50%);
        }
        &:hover {
            background-color: #c1b4a7;
            transition: all 0.3s ease;
        }
    }
    &__box-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 19px;
        &-item {
            border-radius: 6px;
            transition: all 0.3s ease;
            img {
                border-radius: 6px;
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 100%;
            }
            &:hover {
                box-shadow: 0px 0px 10px $font-color;
                transition: all 0.3s ease;
            }
        }
    }
}

.footer {
    margin-top: auto;
    background-color: $bg-footer;
    padding: 0px 0px 142px 0px;
    &__logo {
        text-align: center;
        padding: 75px 0px 65px 0px;
        margin-bottom: 64px;
        border-bottom: 1px solid rgba(#555, 0.5);
    }
    &-info {
        &__row {
            display: flex;
            justify-content: space-between;
        }
    }
    &-company {
        &__title {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $font-color;
            margin-bottom: 26px;
            letter-spacing: -0.0.2em;
        }
        &__text {
            font-size: 14px;
            font-weight: 4;
            line-height: 22px;
            letter-spacing: -0.0.2em;
            color: $font-color;
            margin-bottom: 26px;
            max-width: 250px;
        }
    }
    &-social {
        &__menu-list {
            display: flex;
            list-style-type: none;
            align-items: center;
        }
        &__menu-item {
            margin: 0px 9px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__menu-link-facebook {
            background-color: $bg-accent;
            padding: 10px 18px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                background-color: #fff;
            }
        }
        &__menu-link-instagram {
            background-color: $bg-accent;
            padding: 12px 13px 9px 13px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                background-color: #fff;
            }
        }
        &__menu-link-twitter {
            background-color: $bg-accent;
            padding: 10px 13px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                background-color: #fff;
            }
        }
        &__menu-link-youtube {
            background-color: $bg-accent;
            padding: 10px 13px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                background-color: #fff;
            }
        }
        &__menu-link-vk {
            background-color: $bg-accent;
            padding: 10px 11px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                background-color: #fff;
            }
        }
    }
    &-navigation {
        &__title {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $font-color;
            margin-bottom: 42px;
            letter-spacing: -0.0.2em;
        }
        &__menu-list {
            list-style-type: none;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            &-item {
                margin-bottom: 25px;
            }
        }
        &__menu-link {
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
            line-height: 17px;
            color: $font-color;
        }
    }
    &-product {
        &__title {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $font-color;
            margin-bottom: 42px;
            letter-spacing: -0.0.2em;
        }
        &__menu-list {
            list-style-type: none;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            &-item {
                margin-bottom: 25px;
            }
        }
        &__menu-link {
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
            line-height: 17px;
            color: $font-color;
        }
    }
    &-contacts {
        &__title {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $font-color;
            margin-bottom: 26px;
            letter-spacing: -0.0.2em;
        }
        &__text {
            font-size: 14px;
            font-weight: 4;
            line-height: 22px;
            letter-spacing: -0.0.2em;
            color: $font-color;
            margin-bottom: 26px;
            max-width: 240px;
        }
        &-social {
            &__menu-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
            }
            &__menu-item {
                display: flex;
                align-items: center;
            }
            &__menu-icon {
                margin: 0px 13px 0px 0px;
            }
            &__menu-link {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: -0.02em;
                text-decoration: none;
                color: $font-color;
            }
        }
    }
}

@media(max-width:1240px) {
    .product-info {
        &__description {
            padding: 100px 50px 100px 50px;
        }
        &__title {
            font-size: 25px;
            line-height: 33px;
        }
    }
}

@media(max-width:1024px) {
    .product-info {
        &-row {
            flex-direction: column-reverse;
        }
        &__description {
            padding: 100px 50px 100px 50px;
        }
        &__logo {
            padding: 0px 0px 30px 0px;
        }
        &__title {
            font-size: 25px;
            line-height: 33px;
        }
    }
}

@media(max-width:900px) {
    .main {
        padding: 40px 0px 40px 0px;
        &-grid {
            grid-template-columns: repeat(3, 1fr);
            &__item {
                &-product {
                    &-name {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .boltaeva {
        padding: 90px 0px 90px 0px;
        &__box-grid {
            grid-template-columns: repeat(2, 1fr);
            &-item {
                &:nth-child(5) {
                    display: none;
                }
                &:nth-child(6) {
                    display: none;
                }
                &:nth-child(7) {
                    display: none;
                }
                &:nth-child(8) {
                    display: none;
                }
            }
        }
    }
    .footer {
        &__logo {
            padding: 50px 0px 40px 0px;
            margin: 0px 0px 30px 0px;
        }
        &-info {
            &__row {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
        &-company {
            &__title {
                display: none;
            }
            &__text {
                max-width: 100%;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 20px 0px;
            }
        }
        &-social {
            &__menu-list {
                justify-content: center;
                margin: 0px 0px 40px 0px;
            }
        }
        &-navigation {
            display: none;
        }
        &-product {
            display: none;
        }
        &-contacts {
            &__title,
            &__text {
                display: none;
            }
            &-social {
                &__menu {
                    &-list {
                        justify-content: center;
                    }
                    &-item {
                        margin: 0px 17px 0px 0px;
                        background-color: $bg-accent;
                        padding: 16px 45px;
                        border-radius: 66px;
                        &:last-child {
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:768px) {
    .header {
        padding: 35px 0px 0px 0px;
        min-height: 598px;
        &-top {
            display: none;
        }
        &-menu {
            &-burger {
                display: block;
                &-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &__menu {
                    &-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &__logo {
                    &-img {
                        width: 150px;
                    }
                }
                &__busket {
                    &-icon {
                        width: 20px;
                    }
                }
            }
        }
        &-carousel {
            &__item {
                padding: 190px 0px 225px 0px;
            }
            &__title {
                font-size: 32px;
                line-height: 43px;
                letter-spacing: -0.04em;
                max-width: 285px;
            }
        }
    }
    .boltaeva {
        &__box-info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px 0px 50px 0px;
        }
        &__title {
            font-size: 30px;
            line-height: 39px;
        }
        &__link {
            margin: 30px 0px 0px 0px;
        }
    }
}

@media(max-width:700px) {
    .main {
        padding: 40px 0px 40px 0px;
        &-grid {
            grid-template-columns: repeat(2, 1fr);
            &__item {
                &-product {
                    &-name {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media(max-width:500px) {
    .main {
        padding: 40px 0px 40px 0px;
        &-grid {
            grid-template-columns: repeat(1, 1fr);
            &__item {
                display: none;
                &-product {
                    &-name {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .product-info {
        &__description {
            padding: 15px 15px 15px 15px;
        }
    }
}

@media(max-width:465px) {
    .footer {
        &-contacts {
            &-social {
                &__menu {
                    &-list {
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    &-item {
                        margin: 0px 0px 20px 0px;
                    }
                }
            }
        }
    }
}