* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cera Pro", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #F5ECE3;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/header/header.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 50px 0px 0px 0px;
  min-height: 900px;
}

.header-top {
  padding: 0px 0px 55px 0px;
}

.header-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header-top-menu__list-item {
  margin: 0px 47px 0px 0px;
}

.header-top-menu__list-item:last-child {
  margin: 0px 0px 0px 0px;
}

.header-top-menu__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-top-menu__link:hover {
  text-shadow: 0px 0px 5px #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-top-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-tools__contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #fff;
  margin: 0px 47px 0px 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-top-tools__contacts:hover {
  text-shadow: 0px 0px 5px #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-top-tools__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header-top-tools__menu-item {
  margin: 0px 25px 0px 0px;
}

.header-top-tools__menu-item:last-child {
  margin: 0px 0px 0px 0px;
}

.header-carousel__item {
  padding: 297px 0px 361px 0px;
}

.header-carousel__title {
  max-width: 430px;
  margin: 0 auto;
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: -0.04em;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.header-carousel-row {
  text-align: center;
  position: relative;
}

.header-carousel-row .slick-prev {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  font-size: 0;
  border-radius: 60px;
  background: rgba(136, 136, 136, 0.3);
  background-image: url(../img/header/carousel/left-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 14px;
  border: none;
  padding: 16px 23px;
}

.header-carousel-row .slick-next {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  font-size: 0;
  border-radius: 60px;
  background: rgba(136, 136, 136, 0.3);
  background-image: url(../img/header/carousel/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 14px;
  border: none;
  padding: 16px 23px;
}

.header-carousel-row .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.header-carousel-row .slick-dots li {
  margin: 0px 8px 0px 0px;
}

.header-carousel-row .slick-dots li:last-child {
  margin: 0px 0px 0px 0px;
}

.header-carousel-row .slick-dots li.slick-active button {
  background-color: #fff;
  width: 20px;
  border-radius: 50px;
}

.header-carousel-row .slick-dots button {
  font-size: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header-catalog {
  background-color: #F5ECE3;
  background-image: none;
  z-index: 10;
}

.header-menu-burger {
  display: none;
}

.main {
  background-color: #F5ECE3;
  padding: 70px 0px 70px 0px;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[auto];
      grid-template-rows: repeat(auto, 1fr);
  grid-gap: 30px 20px;
}

.main-grid__item {
  text-decoration: none;
  padding: 0px 25px 20px 25px;
  background-color: #EEE4DA;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-grid__item:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 10px #555;
          box-shadow: 0px 0px 10px #555;
}

.main-grid__item-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-grid__item-product-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #555;
  letter-spacing: 0.02em;
}

.main-grid__item-product-name-sale {
  font-size: 48px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: -0.03em;
  color: #555;
}

.main-grid__item-product-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #555;
}

.main-grid__item-sale {
  border-radius: 6px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-grid__item-sale:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 10px #555;
          box-shadow: 0px 0px 10px #555;
}

.main-grid__item-cover-sale {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.main-grid__item-nav {
  position: absolute;
  bottom: 23px;
  left: 30px;
}

.product-info {
  background-color: #F5ECE3;
}

.product-info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-info__img {
  border-radius: 6px;
}

.product-info__description {
  max-width: 720px;
  padding: 200px 144px 200px 144px;
}

.product-info__logo {
  padding: 0px 0px 67px 0px;
}

.product-info__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: #555;
  margin: 0px 0px 34px 0px;
  letter-spacing: -0.03em;
}

.product-info__text {
  font-size: 18px;
  line-height: 32px;
  color: #555;
  margin: 0px 0px 44px 0px;
}

.product-info__author {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: #555;
  margin: 0px 0px 4px 0px;
  letter-spacing: -0.02em;
}

.product-info__founder {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
}

.boltaeva {
  padding: 137px 0px 127px 0px;
  background-color: #F5ECE3;
}

.boltaeva__box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px 97px 0px;
}

.boltaeva__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  color: #555;
  max-width: 600px;
}

.boltaeva__link {
  cursor: pointer;
  margin-left: auto;
  background-color: #EEE4DA;
  line-height: 16px;
  padding: 28px 99px 28px 99px;
  position: relative;
  border-radius: 66px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #555;
}

.boltaeva__link::before {
  content: '';
  position: absolute;
  background-image: url(../img/instagram-icon.svg);
  display: block;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 80px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.boltaeva__link:hover {
  background-color: #c1b4a7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.boltaeva__box-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 19px;
}

.boltaeva__box-grid-item {
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.boltaeva__box-grid-item img {
  border-radius: 6px;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.boltaeva__box-grid-item:hover {
  -webkit-box-shadow: 0px 0px 10px #555;
          box-shadow: 0px 0px 10px #555;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  margin-top: auto;
  background-color: #EEE4DA;
  padding: 0px 0px 142px 0px;
}

.footer__logo {
  text-align: center;
  padding: 75px 0px 65px 0px;
  margin-bottom: 64px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.5);
}

.footer-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-company__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
  margin-bottom: 26px;
  letter-spacing: 0 0.2em;
}

.footer-company__text {
  font-size: 14px;
  font-weight: 4;
  line-height: 22px;
  letter-spacing: 0 0.2em;
  color: #555;
  margin-bottom: 26px;
  max-width: 250px;
}

.footer-social__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__menu-item {
  margin: 0px 9px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__menu-link-facebook {
  background-color: #F5ECE3;
  padding: 10px 18px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-social__menu-link-facebook:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}

.footer-social__menu-link-instagram {
  background-color: #F5ECE3;
  padding: 12px 13px 9px 13px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-social__menu-link-instagram:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}

.footer-social__menu-link-twitter {
  background-color: #F5ECE3;
  padding: 10px 13px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-social__menu-link-twitter:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}

.footer-social__menu-link-youtube {
  background-color: #F5ECE3;
  padding: 10px 13px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-social__menu-link-youtube:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}

.footer-social__menu-link-vk {
  background-color: #F5ECE3;
  padding: 10px 11px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-social__menu-link-vk:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}

.footer-navigation__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
  margin-bottom: 42px;
  letter-spacing: 0 0.2em;
}

.footer-navigation__menu-list {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.footer-navigation__menu-list-item {
  margin-bottom: 25px;
}

.footer-navigation__menu-link {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  line-height: 17px;
  color: #555;
}

.footer-product__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
  margin-bottom: 42px;
  letter-spacing: 0 0.2em;
}

.footer-product__menu-list {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.footer-product__menu-list-item {
  margin-bottom: 25px;
}

.footer-product__menu-link {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  line-height: 17px;
  color: #555;
}

.footer-contacts__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
  margin-bottom: 26px;
  letter-spacing: 0 0.2em;
}

.footer-contacts__text {
  font-size: 14px;
  font-weight: 4;
  line-height: 22px;
  letter-spacing: 0 0.2em;
  color: #555;
  margin-bottom: 26px;
  max-width: 240px;
}

.footer-contacts-social__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.footer-contacts-social__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts-social__menu-icon {
  margin: 0px 13px 0px 0px;
}

.footer-contacts-social__menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #555;
}

@media (max-width: 1240px) {
  .product-info__description {
    padding: 100px 50px 100px 50px;
  }
  .product-info__title {
    font-size: 25px;
    line-height: 33px;
  }
}

@media (max-width: 1024px) {
  .product-info-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .product-info__description {
    padding: 100px 50px 100px 50px;
  }
  .product-info__logo {
    padding: 0px 0px 30px 0px;
  }
  .product-info__title {
    font-size: 25px;
    line-height: 33px;
  }
}

@media (max-width: 900px) {
  .main {
    padding: 40px 0px 40px 0px;
  }
  .main-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .main-grid__item-product-name {
    font-size: 16px;
  }
  .boltaeva {
    padding: 90px 0px 90px 0px;
  }
  .boltaeva__box-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .boltaeva__box-grid-item:nth-child(5) {
    display: none;
  }
  .boltaeva__box-grid-item:nth-child(6) {
    display: none;
  }
  .boltaeva__box-grid-item:nth-child(7) {
    display: none;
  }
  .boltaeva__box-grid-item:nth-child(8) {
    display: none;
  }
  .footer__logo {
    padding: 50px 0px 40px 0px;
    margin: 0px 0px 30px 0px;
  }
  .footer-info__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer-company__title {
    display: none;
  }
  .footer-company__text {
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
  }
  .footer-social__menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 40px 0px;
  }
  .footer-navigation {
    display: none;
  }
  .footer-product {
    display: none;
  }
  .footer-contacts__title, .footer-contacts__text {
    display: none;
  }
  .footer-contacts-social__menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-contacts-social__menu-item {
    margin: 0px 17px 0px 0px;
    background-color: #F5ECE3;
    padding: 16px 45px;
    border-radius: 66px;
  }
  .footer-contacts-social__menu-item:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 35px 0px 0px 0px;
    min-height: 598px;
  }
  .header-top {
    display: none;
  }
  .header-menu-burger {
    display: block;
  }
  .header-menu-burger-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu-burger__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu-burger__logo-img {
    width: 150px;
  }
  .header-menu-burger__busket-icon {
    width: 20px;
  }
  .header-carousel__item {
    padding: 190px 0px 225px 0px;
  }
  .header-carousel__title {
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.04em;
    max-width: 285px;
  }
  .boltaeva__box-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 50px 0px;
  }
  .boltaeva__title {
    font-size: 30px;
    line-height: 39px;
  }
  .boltaeva__link {
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 40px 0px 40px 0px;
  }
  .main-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .main-grid__item-product-name {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .main {
    padding: 40px 0px 40px 0px;
  }
  .main-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main-grid__item {
    display: none;
  }
  .main-grid__item-product-name {
    font-size: 16px;
  }
  .product-info__description {
    padding: 15px 15px 15px 15px;
  }
}

@media (max-width: 465px) {
  .footer-contacts-social__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-contacts-social__menu-item {
    margin: 0px 0px 20px 0px;
  }
}

.for-face {
  background-color: #F5ECE3;
  padding: 0px 0px 70px 0px;
}

.for-face-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.for-face__product-order {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 160px;
}

.for-face__product-favorites {
  margin: 0px 0px 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for-face__product-favorites-icon {
  margin: 0px 10px 0px 0px;
}

.for-face__product-favorites-icon:hover svg {
  fill: red;
}

.for-face__product-favorites-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #555;
}

.for-face__product-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 53px;
  color: #555;
  letter-spacing: -0.03em;
  margin: 0px 0px 28px 0px;
}

.for-face__product-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 31px 0px;
}

.for-face__product-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  color: #555;
}

.for-face__product-btn-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEE4DA;
  border-radius: 66px;
  padding: 11px 22px 11px 22px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.for-face__product-btn-count:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 10px #555;
          box-shadow: 0px 0px 10px #555;
}

.for-face__product-number {
  padding: 0px 45px 0px 45px;
}

.for-face__product-price {
  font-size: 32px;
  font-weight: 400;
  color: #555;
  line-height: 38px;
  letter-spacing: -0.02em;
}

.for-face__product-add {
  margin: 0px 0px 53px 0px;
}

.for-face__product-add-btn {
  position: relative;
  display: block;
  background-color: #EEE4DA;
  border: none;
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
  padding: 30px 125px;
  border-radius: 76px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.for-face__product-add-btn:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 10px #555;
          box-shadow: 0px 0px 10px #555;
}

.for-face__product-add-image {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100px;
}

.for-face__product-descriptions-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 21px 0px;
}

.for-face__product-descriptions-btn {
  font-size: 16px;
  margin: 0px 10px 0px 0px;
  padding: 3px 17px 3px 17px;
  border-radius: 56px;
  background-color: transparent;
  border: none;
  color: rgba(85, 85, 85, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.for-face__product-descriptions-btn--active {
  background-color: #EEE4DA;
  color: #555;
}

.for-face__product-descriptions-btn:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 10px #555;
          box-shadow: 0px 0px 10px #555;
}

.for-face__product-descriptions-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 24px;
  color: #555;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container img {
  width: 100%;
}

.product-info-reverse {
  padding: 0px 0px 70px 0px;
}

.product-info-reverse-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=style-product-page.css.map */